body {
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.endAnimation {
    animation: none !important;
}

.window {
    position: fixed !important;
    &:not(.ui-resizable-resizing) {
        transition: height 0.3s, width 0.3s;
    }
    &.maximized {
        z-index: 1;
        top: 0 !important;
        left: 0 !important;
        width: 99.6% !important;
        height: 99.1% !important;
    }
    iframe.window-body {
        height: calc(100% - 20px);
        width: 100%;
        margin: 0;
        border: 0;
    }
}

.ui-resizable-handle {
    opacity: 0;
}

.desktop .icon {
    padding: 0.75em !important;
    border: 0 !important;
    background: none;
    box-shadow: none !important;
    outline: 0;
    &:focus {
        img {
            mix-blend-mode: multiply;
        }
        p {
            background: darkblue;
            outline: 1px dotted black;
        }
    }
    img {
        width: 30px;
        height: 35px;
    }
    p {
        background: rgb(0, 128, 128);
        color: white;
        margin: 0;
        margin-top: 5px;
        margin-left: 0.5%;
    }
}

.taskbar {
    z-index: 2;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: 1px solid rgb(223, 223, 223);
    border-top: 1px solid white;
    background: rgb(223, 223, 223);
    overflow-y: auto;

    &,
    *:not(.tasks) {
        height: 28px;
    }

    .start {
        border-top-right-radius: 25%;
        border-bottom-right-radius: 20%;
        img {
            width: 20px;
            height: 20px !important;
            display: inline-block;
            vertical-align: middle;
            margin-top: 2px;
            position: relative;
            bottom: 1px;
            right: 0.5em;
        }
        span {
            position: relative;
            top: 2px;
        }
    }

    .divider {
        height: calc(100% - 4px);
        border-left: 1px solid rgb(128, 128, 128);
        border-right: 1px solid white;
        margin-top: 2px;
        margin-left: 0.3em;
        margin-right: 0.25em;
    }

    .tasks button:active {
        padding: 0px 11px 0 13px !important;
    }
}

.devinfo {
    transition: opacity 0.2s;
    font-family: monospace;
    text-align: right;
    position: fixed;
    color: white;
    user-select: none;
    line-height: 2px;
    opacity: 0.4;
    bottom: 4%;
    right: 0.25%;

    &:hover {
        opacity: 1;
    }
}
