body {
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.endAnimation {
    animation: none !important;
}

.window {
    position: fixed;
    &.maximized {
        z-index: 1;
        top: 0 !important;
        left: 0 !important;
        width: 99.6% !important;
        height: 99.1% !important;
    }
}

.ui-resizable-handle {
    opacity: 0;
}

.taskbar {
    z-index: 2;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: 1px solid rgb(223, 223, 223);
    border-top: 1px solid rgb(255, 255, 255);
    background: rgb(223, 223, 223);
    overflow-y: auto;

    &,
    *:not(.tasks) {
        height: 28px;
    }
}

.devinfo {
    transition: opacity 0.2s;
    font-family: monospace;
    text-align: right;
    position: fixed;
    color: white;
    line-height: 2px;
    opacity: 0.4;
    bottom: 4%;
    right: 0.25%;

    &:hover {
        opacity: 1;
    }
}
