$shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;

body {
    background-color: #3B6EA5;
    background-image: url("../assets/clouds.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

.endAnimation {
    animation: none !important;
}

.window {
    position: fixed !important;
    &:not(.ui-resized) {
        top: 20%;
        right: 25%;
        min-height: 500px;
        min-width: 850px;
    }
    &:not(.ui-resizable-resizing) {
        transition: height 0.3s, width 0.3s;
    }
    &.active {
        z-index: 1000;
    }
    &:not(.active) .title-bar {
        background: linear-gradient(black, white),
            linear-gradient(90deg, navy, #1084d0);
        background-blend-mode: saturation;
    }
    .window-body {
        user-select: text;
    }
    iframe.window-body {
        height: calc(100% - 20px);
        width: 100%;
        margin: 0;
        border: 0;
    }
    &.maximized {
        z-index: 1;
        top: -0.4% !important;
        left: -0.2% !important;
        width: 100% !important;
        height: 99.1% !important;
        box-shadow: none;

        iframe.window-body {
            height: calc(100% - 42px);
        }
    }
    .ui-resizable-handle {
        opacity: 0;
    }
}

.desktop {
    display: flex;
    flex-direction: column;
    margin: 6px 0 0 4px;
    .icon:first-child {
        padding-top: 0 !important;
    }
    .icon {
        max-width: 75px;
        padding: 0.75em 0.75em 0 0 !important;
        border: 0 !important;
        background: none;
        box-shadow: none !important;
        outline: 0;
        &:focus {
            img {
                mix-blend-mode: multiply;
            }
            p {
                background: darkblue;
                outline: 1px dotted black;
            }
        }
        img {
            width: 30px;
            height: 35px;
        }
        p {
            background: rgb(0, 128, 128);
            color: white;
            margin: 0;
            margin-top: 5px;
            margin-left: 0.5%;
        }
    }
}

.start-menu {
    z-index: 2;
    position: fixed;
    bottom: 32px;
    left: 1px;
    background: lightgrey;
    box-shadow: $shadow;
    width: 207px;
    height: 340px;
    overflow: auto;
    display: none;
    &.active {
        display: initial;
    }
}

.taskbar {
    z-index: 3;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    outline: 1px solid rgb(223, 223, 223);
    border-top: 1px solid white;
    background: rgb(223, 223, 223);
    overflow-y: auto;

    *:not(.tasks) {
        height: 23px;
    }

    .start,
    .tasks {
        margin-top: 3px;
    }

    .start {
        display: flex;
        min-width: 20px !important;
        width: 65px;
        padding-top: 3px;
        padding-right: 3px !important;
        margin-left: 0.2em;
        img {
            width: 17px;
            height: 15px !important;
            display: inline-block;
            vertical-align: middle;
            margin-top: 2px;
            position: relative;
            bottom: 1px;
            right: 0.5em;
        }
        span {
            position: relative;
            font-weight: 510;
            font-size: 1.2em;
            top: 1px;
            left: -2px;
        }
    }

    .divider {
        height: calc(100% - 4px);
        border-left: 1px solid rgb(128, 128, 128);
        border-right: 1px solid white;
        margin-top: 2px;
        margin-left: 0.3em;
        margin-right: 0.25em;
    }

    .tasks {
        button:active {
            padding: 0px 11px 0 13px !important;
        }
    }
}

.devinfo {
    transition: opacity 0.2s;
    font-family: monospace;
    text-align: right;
    position: fixed;
    color: white;
    user-select: none;
    opacity: 0.5;
    right: 0;
	bottom: 0;
	padding: 0.4em;

    &:hover {
        opacity: 1;
    }
}

iframe *:active {
    opacity: 0;
}
